*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}

body{
  background: url("./img/background.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.container{
  background-color: #dadada;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  margin: 100px auto 0 auto;
}

.input-task{
  border: none;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  font-size: 400;
  padding-left: 10px;
}

.button-add-task{
  border: none;
  border-radius: 8px;
  height: 40px;
  background-color: #80703d;
  color: rgb(201, 201, 216);
  font-size: 15px;
  font-weight: 700;
  padding: 0 15px;
  float: right;
  cursor: pointer;
}

.button-add-task:hover{
  opacity: 0.8;
  /*deixa o botão mais claro*/
}

.button-add-task:active{
  opacity: 0.5;
  background-color: rgb(27, 48, 231);
  /*deixa o botão mais claro*/
}

.list-task{
  width: 100%;
  list-style: none;
  margin-top: 20px;
}

.task{
  background-color: #f2f2f2;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px; 
  border-radius: 8px;
  box-shadow: 1px 4px 10px #80703d;
  margin-bottom: 20px;
  cursor: pointer;
}
.task:hover img{
  opacity: 1;
}


img{
  height: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}





